.btn1 {
  background: #49d75c;
  border: none;
  border-radius: 100vh;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
  width: 210px;
  position: relative;
  height: 60px;
  overflow: hidden;
}
.btn1:not(.loading):hover {
  box-shadow: 0px 10px 25px 0px rgba(73, 215, 92, 0.4);
}
.btn1:not(.loading):hover i {
  transform: translate(7px);
}
.btn1 i {
  font-size: 1.45rem;
  position: absolute;
  left: 0px;
  pointer-events: none;
  z-index: 10;
  background: inherit;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.25s ease;
}
.btn1 .text {
  width: 130px;
  position: relative;
  pointer-events: none;
  transition: all 0.25s ease;
  position: absolute;
  left: 60px;
}
.loading-animate {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 100;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s ease;
}
.loading-animate:after {
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left: 3px solid #fff;
  animation: loading infinite 0.8s ease 0.05s;
  position: absolute;
}

.btn1.loading {
  width: 60px;
}
.btn1.loading i {
  transform: rotate(-90deg);
  padding-bottom: 4px;
  padding-left: 3px;
}
.btn1.loading .text {
  transform: translate(-140px);
}
.btn1.loading .loading-animate {
  opacity: 1;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
